@import "./variables.scss";

$background: rgba(233, 144, 0, 0.11);
// $accentColor: rgba(255, 157, 0, 0.678);
$background-color-login: rgba(226, 193, 139, 0.178);

body {
    display: flex;
    justify-content: center;
    // align-items: center;
    min-height: 100vh;
    background: $background;
}

div a {
    color: $accentColor;

    &:hover {
        color: $blackColor;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}