.header {
    display: flex;
    align-items: center;
    background-color: #E99000;
    min-height: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 0 1rem;
}

.header__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
        text-decoration: none;
        &:hover{
            text-decoration:  underline;
        }
    }
}

