@import "../../../styles/variables.scss";

.header{
    display: flex;
    align-items: center;
    background-color: $whiteColor;
    min-height: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}