.politics__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.page__title--position {
    width: 100%;
    height: auto;
    margin-bottom: 47px;
    font-family: var(--roboto);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.section__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.politics__accent-text {
    color: var(--accent-color);
}

.politics__container img {
    width: 222px;
    height: 308px;
    margin: 47px auto;
}
