/* Import per defecte i variables */
@import url('../../../styles/main_styles.css');

/* Login.css */
.main__contariner-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-radius: 20px;
    background-color: var(--light-grey);
}

.login__logo-container {
    /* Estils pel contenidor del logotip */
}

.login__logo {
    /* Estils pel logotip */
}

.login__login-form {
    /* Estils pel formulari d'inici de sessió */
}

.login__title {
    /* Estils pel títol del formulari */
}

/* Estils pels camps d'entrada */
.login__login-form__input-box {
  
}

.login__login-form__input {
    /* Estils pel camp d'entrada */
}

.login__login-form__icon {
    /* Estils per a l'icona al costat del camp d'entrada */
}

.password__toggle {
    position: absolute;
    right: 8px; /* Ajusta aquest valor segons la teva preferència */
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.password__toggle--icon {
    width: 16px;
    height: 16px;
    color: #999; /* Color de l'icona */
}

/* Estils pels missatges d'error */
.login__login-form__error {
    /* Estils pel missatge d'error */
}

/* Estils pel botó d'enviament */
.login__login-form__submit-btn {
    /* Estils pel botó d'enviament */
}

/* Estils per a l'enllaç de "Has oblidat la contrasenya?" */
.login__login-form__signup a {
    /* Estils per a l'enllaç "Has oblidat la contrasenya?" */
}

/* Estils per a l'enllaç de registre */
.login__login-form__signup {
    /* Estils per a l'enllaç de registre */
}
