/* Estil principal del component */
.login__container {
    width: 100%;
    max-width: 360px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    background-color: var(--accent-color-40);
}

/* Estil pel contenidor del logo */
.login__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estil del logo TODO:Revisar dimensions */
.login__logo {
    max-width: 500px;
    width: 100%;
}

/* Estil del formulari */
.login__form {}

.login__title {
    color: var(--black);
    font-family: var(--roboto);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__form--input-box {
    position: relative;
}

.login__icon {

}

/* Estil botó showpassword */
.login__password-toggle {
    position: absolute;
    right: 15%;
    top: 23%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.login__error {}

.login__remember {}

.login__submit-btn {}

.login__signup {}