// @import "../../styles/variables.scss";

.homepage__title {
    margin-bottom: 2rem;
}

.homepage__container {

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
        padding: 0 2rem;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 200px;

            // .card__image {
            //     // max-width: 150px;
            //     max-height: 200px;
            //     overflow: hidden;
            //     border-radius: 1rem;
            //     margin: .5rem;

            //     img {
            //         width: 200px;
            //         height: 200px;
            //         object-fit: cover;
            //     }
            // }
        }
    }
}

