@import '../../../styles/main_styles.css';

.dashboard__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: fit-content;
    text-align: center;

    .dashboard__mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dashboard__benvinguda {
            font-weight: bold;
            margin: 1rem;
        }

        .dashboard__calendarEvents {
            background-color: var(--accent-color);
            margin: 1rem;
            padding: 1rem;
            max-width: fit-content;
        }

        .dashboard__description {}

        .dashboard__calendar {
            width: 90%;
            margin-top: 2rem;
        }
    }


}