@import "../../../styles/variables.scss";

.footer {
    display: flex;
    align-items: center;
    background-color: $accentColor;
    align-self: baseline;
    margin-top: 2rem;
    min-height: 2rem;
}