/* Import defauts i variables */
@import url('../../../styles/main_styles.css');

/* Estils per al botó primari invertit */
.inverted__primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: transparent;
    outline: 3px var(--accent-color) solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
     transition: background-color 400ms;
  }
  
  .inverted__primary-button .inverted-text {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1em;
    transition: color 400ms;
  }
  
  .inverted__primary-button:hover {
    background-color: var(--accent-color);
  }
  
  .inverted__primary-button:hover .inverted-text {
    color: var(--white);
  }