/* Import defauts i variables */
@import url('../../../styles/main_styles.css');

/* Estil per a la barra search */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--light-grey);
    color: var(--black);
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
   }
   
   .input::placeholder {
    color: var(--dark-grey);
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: var(--accent-color); 
   }
   
   /* --dark-grey */
   .icon {
    position: absolute;
    left: 1rem;
    fill: var(--dark-grey);
    width: 1rem;
    height: 1rem;
   }